* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: azure;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#menu-toggle {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

nav {
  display: none;
  background: #333;
  color: white;
}

nav.show {
  display: block;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  border-bottom: 1px solid #444;
}

nav a {
  display: block;
  padding: 1rem;
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 400px;
  margin: 1rem auto;
}

.about-me, .student, .course-area {
 width: 100%;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}

.student img {
  width: 350px;
  margin: 1rem auto;
  border-radius: 5px;
}

.about-me h2, .student h2, .course-area h2{
  text-align: center;
  padding: 0.5rem;
  background-color: rgb(203, 161, 241);
  width: 100%;
}

.about-me p {
  padding: .5rem;
  background-color: rgba(204, 161, 241, 0.249);;
}
.student {
  background-color: rgba(204, 161, 241, 0.249);
}

.filter-buttons{
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin: 1rem 0;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(204, 168, 213);
  font-weight: bold;
}

button:hover {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.452);
}

#courses-grid{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.course-card {
  background-color: rgb(204, 168, 213);
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  border-radius: 8px;
}

#total-credits{
  font-size: 1rem;
  text-align: center;
}

#credits-value{
  font-weight: bold;
}

.icons{
  display: flex;
  justify-content: center;
}

footer {
  text-align: center;
  background-color: rgb(204, 168, 213);;
  margin-top: 20px;
  font-size: 1rem;
}