
header {
    position: relative;
}

#menu {
   /*  border: 1px solid black; */
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: hsl(0, 0%, 0%);
    width:40px;
    height: 40px;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(217, 10%, 25%, 0.4);
}

#menu::before{
    content: "≡";/* this is to set the initial conent to a humburger icon before anything will be added to it or it changes  */
}

nav {
    background-color: hsl(36, 11%, 53%);
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.2rem;
    text-align:left;
    text-decoration: none;
    color: hsl(216, 18%, 16%);
    font-weight:700;
    border-bottom: 1px solid hsl(216, 18%, 16%);
    transition: 0.5s;
    font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, .navigation a:active {
    color: white;
    background-color: hsl(216, 18%, 16%);
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

@media only screen and (min-width: 40em) {
    .navigation{
        display: flex;
    }

    .navigation li {
        display: block;

        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
}